{% extends 'job_profile/shared/accounts_base.html' %}


{% block accounts_title %}{% if request.path == '/job_profile/job/create/' %}Add{% else %}Update{% endif %} Skill{% endblock accounts_title %}


{% block accounts_content %}
<script src="https://cdn.tiny.cloud/1/2hgv81y54xc01vmnbp8pre1ylwsfvvamsla2umvzuma66wa2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({selector:'textarea'});
</script>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% if request.path == '/job_profile/job/create/' %}
                        <h1 class="card-title text-center mb-4">Add Job</h1>
                        {% else %}
                        <h1 class="card-title text-center mb-4">Update Job</h1>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                                {% include 'components/form_field.html' with field=form.job_title %}
                                {% include 'components/form_field.html' with field=form.location %}
                                <div class="row">
                                    <div class="col-md-6">
                                        {% include 'components/form_field.html' with field=form.salary_from %}
                                    </div>
                                    <div class="col-md-6">
                                        {% include 'components/form_field.html' with field=form.salary_to %}
                                    </div>
                                </div>
                                {% include 'components/form_field.html' with field=form.expected_joining_date %}
                                {% include 'components/form_field.html' with field=form.job_description %}
                            <div class="d-grid mt-3 mb-5">
                                <button type="submit" class="btn btn-custom btn-block">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock accounts_content %}
    