{% extends 'admin_panel/layout/base.html' %}
{% load static %}
{% block title %}Company Detail{% endblock title %}
{% block content %}
<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-body profile-page p-0">
                   <div class="profile-header">
                      <div class="cover-container">
                         <img style="width: 100%;" src="{% static 'admin_panel/assets/images/page-img/profile-bg.jpg' %}" alt="profile-bg" class="rounded img-fluid">
                         <ul class="header-nav d-flex flex-wrap justify-end p-0 m-0">
                            <li><a href="javascript:void();"><i class="ri-pencil-line"></i></a></li>
                            <li><a href="javascript:void();"><i class="ri-settings-4-line"></i></a></li>
                         </ul>
                      </div>
                      <div class="profile-info p-4">
                         <div class="row">
                            <div class="col-sm-12 col-md-6">
                               <div class="user-detail pl-5">
                                  <div class="d-flex flex-wrap align-items-center">
                                     <div class="profile-img pr-4">
                                        <img src="{% static 'admin_panel/assets/images/user/11.png' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                     </div>
                                     <div class="profile-detail d-flex align-items-center">
                                        <h3>Acme Corporation</h3>
                                        <p class="m-0 pl-3"> - IT Sector</p>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}