<style>
    .notification-icon .badge {
        left: 70%;
        transform: translateX(-50%);
        transform: translateY(-50%);
    }
</style>

<nav class="navbar navbar-light p-3" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "core:home" %}"><h3>CareerConnect</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex align-items-center">
            <div class="notification-icon-container me-3">
                {% if user.is_authenticated %}
                <button class="notification-icon btn btn-link position-relative" type="button" data-bs-toggle="modal" data-bs-target="#notificationModal">
                    <i class="fa-regular fa-bell"></i>
                    <span class="badge bg-danger rounded-pill position-absolute top-0 translate-middle p-1 ps-1"  style="font-size: 0.7rem;">
                        {{ jobs_notification_count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>            
                {% endif %}
            </div>

            <div class="btn-group">
                {% if user.is_authenticated %}
                <button class="profile-icon btn btn-link" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="{% url "user:profile_view" %}">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Messages</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
                </ul>
                {% else %}
                <a class="btn btn-outline-custom ms-2" href="{% url 'user:login' %}">Sign In</a>
                <a class="btn btn-outline-custom ms-2" href="{% url 'user:register' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% if user.is_authenticated %}
{% include "shared/notification.html" %}
{% endif %}