{% load humanize %}
{% load static %}
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationModalLabel">Notifications</h5>
                <button type="button" class="btn-close-custom" data-bs-dismiss="modal" aria-label="Close"><i class="fa-regular fa-circle-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column flex-md-row gap-4 align-items-center justify-content-center">
                    <div class="list-group w-100">
                        {% for job in jobs_notification %}
                        <a href="{% url "job:job-detail" job.id %}" target="blank" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                            <img src="{% static "users/images/bannericons/job.png" %}" alt="twbs" width="32" height="32" class="flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ job.job_title }}</h6>
                                    <p class="mb-0 opacity-75">A new job Created</p>
                                </div>
                                <small class="opacity-50 text-nowrap">{{ job.created_at|naturaltime }}</small>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>