<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 search-input">
                <form class="d-flex" role="search">
                    <div class="input-group">
                        <span class="input-group-text" id="search-icon">
                            <i class="fa-brands fa-searchengin"></i>
                        </span>
                        <input class="form-control form-control-lg" name="q" type="search" placeholder="Search for jobs" aria-label="Search" aria-describedby="search-icon">
                        <button class="btn-custom" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Search results section (hidden by default) -->
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 text-center">
                    <div id="search-results">
                        <p id="search-query-display">Search results for '<span id="search-query">Software Engineer</span>':</p>
                        <p id="job-count-display">50 jobs found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>