{% extends 'shared/base.html' %}

{% block title %}Forgot Password{% endblock title %}

{% block content %}
<div class="container fluid">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <div class="card mt-5">
                <div class="card-body">
                    {% if email_sent %}
                        <h1 class="card-title text-center">Email Sent</h1>
                        <p class="text-center">A password reset link has been sent to {{ email }}.</p>
                        <div class="d-grid mt-3">
                            <a href="{% url 'user:login' %}" class="btn btn-primary">Go to Login</a>
                        </div>
                    {% else %}
                        <h1 class="card-title text-center">Forgot Password</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">{{ form.email.label }}</label>
                                {{ form.email }}
                                <div class="text-danger">
                                    {{ form.email.errors.as_ul }}
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary mt-2">Send Reset Link</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}