{% extends "layout/base.html" %}

{% block title %}
Profile
{% endblock title %}

{% block content %}

<div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 side-nav" style="border: solid gray; border-radius: 20px;">
        <div class="sidebar" style="height: 100%;">
            <div class="sidebar-heading">Navigation</div>
            <div class="list-group">
                <a href="{% url "user:profile-edit" %}" class="list-group-item list-group-item-action">Profile Edit</a>
                <a class="list-group-item list-group-item-action active">Change Password</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        
        <div class="card">
            <div class="card-header">
                <h4>Change Password</h4>
            </div>
            <div class="card-body">
                <form id="editProfileForm" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
