{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}
    {% endblock meta %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "users/assets/imgs/template/favicon.svg" %}">
    <link href="{% static "users/assets/css/stylecd4e.css" %}" rel="stylesheet">
    <title>Job Portal - {% block title %}{% endblock title %}</title>
  </head>
  <body>
  <div id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    <style>
.alert {
    position: fixed;
    top: 20px;
    right: -100%;
    z-index: 9999;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    animation: slide-in 0.5s ease-in-out forwards, slide-out 0.5s ease-in-out forwards 4s; /* Animation timing */
}


@keyframes slide-in {
    0% { right: -100%; }
    100% { right: 20px; }
}

@keyframes slide-out {
    0% { right: 20px; }
    100% { right: -100%; }
}
    </style>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="text-center"><img src="{% static 'users/assets/imgs/template/loading.gif' %}" alt="jobBox"></div>
        </div>
      </div>
    </div>
    {% include "partials/nav.html" %}
    {% block content %}{% endblock content %}
    {% include "partials/footer.html" %}
    <script src="{% static 'users/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'users/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'users/assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'users/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'users/assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'users/assets/js/main8c94.js' %}"></script>
  </body>
</html>