SECRET_KEY=django-insecure-zikmw2c94ig)kca)6efshn&)aia&pvybiu-(by(j)_%10+!d%j
DEBUG=True
ALLOWED_HOSTS=*

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=adarshpbaiju2050@gmail.com
EMAIL_HOST_PASSWORD=ovft uvyd hvaq titj
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Job Portal